PORT=3000
MONGO_URI= mongodb+srv://hat@cluster0.plamtie.mongodb.net/
EMAIL_USER=hassacxaojc.com
EMAIL_PASS=jopx uncl qwvs msdc
SECRET_KEY=ajjcdowbaiqcqi
CLOUD_NAME=dm1lbhrhr
API_KEY=449523765312639
API_SECRET=sQUqGO0w_v6YTeJZ3q5T_0Q89wM


# DONOT WORRY DATA IS FAKE